<div class="main-title-container">
    <h1 class="main-title">Observables playground</h1>
</div>
<div class="content-wrapper">
    <div *ngIf="blockNumber === 1"
         class="content-container">
         <div class="card promise-card">
            <h2>Promise</h2>
            <button mat-raised-button color="primary" (click)="startPromise()">Start promise</button>
            <h3>
                <span *ngIf="promiseResult">{{promiseResult}}</span>
            </h3>
        </div>
        <div class="card observable-card">
            <h2>Observable + Date + pipe</h2>
            <button mat-raised-button color="primary" (click)="startSwissTime()">Subscribe</button>
            <button mat-raised-button color="warn" (click)="unsubscribe()">Unsubscribe</button>
            <div>
                <h3 *ngIf="swissTime">{{swissTime | date: 'hh:mm:ss'}}</h3>
                <h3 *ngIf="!swissTime">-</h3>
            </div>
        </div>
        <div class="card observable-card">
            <h2>Observable</h2>
            <button mat-raised-button color="primary" (click)="startObservableExample()">Start observable</button>
            <div class="example-line">
                <span>First subscription: </span><span *ngFor="let item of firstObserverValue">{{item}}, </span>
                <span *ngIf="!firstObserverValue.length">-</span>
            </div>
            <div class="example-line">
                <span>Second subscription: </span><span *ngFor="let item of secondObserverValue">{{item}}, </span>
                <span *ngIf="!secondObserverValue.length">-</span>
            </div>
        </div>
        <div class="card observable-card">
            <h2>Subject</h2>
            <button mat-raised-button color="primary" (click)="startSubject()">Subscribe</button>
            <button mat-raised-button color="warn" (click)="unsubscribe()">Unsubscribe</button>
            <div class="example-line">
                <span>First subscription: </span><span *ngFor="let item of exampleSubjectFirstArray">{{item}}, </span>
                <span *ngIf="!exampleSubjectFirstArray.length">-</span>
            </div>
            <div class="example-line">
                <span>Second subscription: </span><span *ngFor="let item of exampleSubjectSecondArray">{{item}}, </span>
                <span *ngIf="!exampleSubjectSecondArray.length">-</span>
            </div>
        </div>
        <div class="card observable-card">
            <h2>Replay Subject</h2>
            <button mat-raised-button color="primary" (click)="startReplaySubject()">Subscribe</button>
            <button mat-raised-button color="warn" (click)="unsubscribe()">Unsubscribe</button>
            <label>Replay count: <input type="number" [(ngModel)]="replaySubjectCount"></label>
            <div class="example-line">
                <span>First subscription: </span><span *ngFor="let item of exampleReplaySubjectFirstArray">{{item}}, </span>
                <span *ngIf="!exampleReplaySubjectFirstArray.length">-</span>
            </div>
            <div class="example-line">
                <span>Second subscription: </span><span *ngFor="let item of exampleReplaySubjectSecondArray">{{item}}, </span>
                <span *ngIf="!exampleReplaySubjectSecondArray.length">-</span>
            </div>
        </div>
        <div class="card observable-card">
            <h2>Behavior Subject</h2>
            <button mat-raised-button color="primary" (click)="startBehaviorSubject(initialValue.value)">Subscribe</button>
            <button mat-raised-button color="warn" (click)="unsubscribe()">Unsubscribe</button>
            <label>Initial value: <input type="number" #initialValue></label>
            <div class="example-line">
                <span>First subscription: </span><span *ngFor="let item of exampleBehaviorSubjectFirstArray">{{item}}, </span>
                <span *ngIf="!exampleBehaviorSubjectFirstArray.length">-</span>
            </div>
            <div class="example-line">
                <span>Second subscription: </span><span *ngFor="let item of exampleBehaviorSubjectSecondArray">{{item}}, </span>
                <span *ngIf="!exampleBehaviorSubjectSecondArray.length">-</span>
            </div>
        </div>
        <div class="card observable-card">
            <h2>Async Subject</h2>
            <button mat-raised-button color="primary" (click)="startAsyncSubject()">Subscribe</button>
            <button mat-raised-button color="warn" (click)="completeAsyncSubject()">Complete</button>
            <div class="example-line">
                <span>Current flow value: </span><span>{{exampleAsyncSubjectTime}}</span><br/>
                <span>Current flow value (async): </span><span>{{exampleAsyncCurrentValueObservableAsync$ | async}}</span>
            </div>
            <div class="example-line">
                <span>First subscription: </span><span *ngFor="let item of exampleAsyncSubjectFirstArray">{{item}}, </span>
                <span *ngIf="!exampleAsyncSubjectFirstArray.length">-</span>
            </div>
            <div class="example-line">
                <span>Second subscription: </span><span *ngFor="let item of exampleAsyncSubjectSecondArray">{{item}}, </span>
                <span *ngIf="!exampleAsyncSubjectSecondArray.length">-</span>
            </div>
        </div>
        <div class="card observable-card">
            <h2>Pipes</h2>
            <button mat-raised-button color="primary" (click)="startPipes()">Subscribe</button>
            <button mat-raised-button color="warn" (click)="unsubscribe()">Complete</button>
            <div class="example-line">
                <span>Current flow value: </span><span>{{pipesCurrentValue}}</span><br/>
            </div>
            <div class="example-line">
                <span>Filter pipe: </span><span *ngFor="let item of filterPipe">{{item}}, </span>
                <span *ngIf="!filterPipe.length">-</span>
            </div>
            <div class="example-line">
                <span>Take pipe: </span><span *ngFor="let item of takePipe">{{item}}, </span>
                <span *ngIf="!takePipe.length">-</span>
            </div>
            <div class="example-line">
                <span>Map pipe: </span><span *ngFor="let item of mapPipe">{{item}}, </span>
                <span *ngIf="!mapPipe.length">-</span>
            </div>
            <div class="example-line">
                <span>Scan pipe: </span><span *ngFor="let item of scanPipe">{{item}}, </span>
                <span *ngIf="!scanPipe.length">-</span>
            </div>
        </div>
        <div class="card observable-card">
            <h2>Examples Card</h2>
            <button mat-raised-button color="primary" (click)="examplesCard()">Subscribe</button>
            <button mat-raised-button color="warn" (click)="completeAsyncSubject()">Complete</button>
            <div class="example-line">
                <span>Example: </span><span *ngFor="let item of someExampleValuesArray">{{item}}, </span>
                <span *ngIf="!someExampleValuesArray.length">-</span>
            </div>
        </div>
    </div>
</div>
